<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h2>Cursos</h2>
    <div>
      <button (click)="onRefrash()" class="btn btn-warning">Atualizar</button>
      <a [routerLink]="['novo']" class="btn btn-primary"> Novo Curso </a>
    </div>
  </div>
  <div class="card-body">
    <table
      class="table table-dark"
      *ngIf="cursos$ | async as cursos; else loadingError"
    >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Curso</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursos">
          <th scope="row">
            {{ curso.id }}
          </th>
          <td>
            {{ curso.nome }}
          </td>
          <td>
            <a [routerLink]="['editar', curso.id]" class="btn btn-warning"
              >Editar</a
            >
            <button (click)="onDelete(curso)" class="btn btn-danger">
              Remover
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #loadingError>
      <div class="alert alert-danger" *ngIf="error$ | async; else loading">
        Erro ao carregar cursos. Tente novamente mais tarde
      </div>
      <ng-template #loading>
        <span> Carregando Cursos... </span>
      </ng-template>
    </ng-template>
  </div>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja remover esse curso?</p>
    <button (click)="onConfirmDelete()" type="button" class="btn btn-primary">
      Sim
    </button>
    <button (click)="onDeclineDelete()" type="button" class="btn btn-default">
      Não
    </button>
  </div>
</ng-template>
