<div class="mb-3">
  <div class="custom-file">
    <input
      type="file"
      class="custom-file-input"
      id="input-upload-file"
      multiple
      (change)="onChange($event)"
    />
    <label
      class="custom-file-label"
      id="label-upload-file"
      for="input-upload-file"
      >Selecionar Arquivos</label
    >
  </div>
  <div class="progress">
    <div
      class="progress-bar progress-bar-striped"
      role="progressbar"
      [style.width]="progress + '%'"
    >
      {{ progress }}%
    </div>
  </div>
</div>

<button
  (click)="onUpload()"
  [disabled]="!files"
  type="button"
  class="btn btn-primary"
>
  Enviar
</button>

<div class="my-3">
  <button (click)="onDownloadVideo()" class="btn btn-warning">
    Download Video
  </button>
  <button (click)="onDownloadPDF()" class="btn btn-warning">
    Download PDF
  </button>
</div>
